.map-app-container {
	display: grid;
	grid-template-columns: 10px 1fr 1fr 1fr 10px;
	grid-template-rows: 10px 1fr 1fr 1.1fr 10px;
}

.map-container {
	height: 100vh;
	grid-column: 1 / span 5;
}

.header-container {
	z-index: 1;
	grid-column: 2;
	grid-row: 2;
}

.header {
}

.form-container {
	z-index: 1;
	grid-column: 3 / span 2;
	grid-row: 2;
	justify-self: stretch;
}

.form {
}

.sidebar {
	background-color: rgba(25, 53, 120, 0.8);
	color: #fff;
	padding: 6px 12px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 5px;
	border-radius: 4px;
	z-index: 1;
	grid-column: 2 / span 3;
	grid-row: 4;
}

.site-image {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin: 20px;
	width: 150px;
	z-index: 1;
}

.about {
	text-align: center;
	z-index: 1;
}
