.header-container {
	display: inline-grid;
	grid-template-columns: 10px 1fr 1fr 4fr 10px;
	grid-template-rows: 1;
}

.header {
	grid-column: 2;
	grid-row: 1;
	margin: 0 auto;
	padding: 3vh;
}

.form-container {
	grid-column: 4;
	grid-row: 1;
	margin: 0 auto;
	padding: 3vh;
}

.map-container {
	height: 600px;
	display: grid;
	grid-template-columns: 10px 2fr 3fr 10px;
	grid-template-rows: 10px 1fr 5fr 1fr 10px;
}

.sidebar {
	background-color: rgba(25, 53, 120, 0.8);
	color: #fff;
	padding: 6px 12px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	z-index: 1;
	position: absolute;
	margin: 12px;
	border-radius: 4px;
	grid-column: 2;
	grid-row: 2;
}

.site-image {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin: 20px;
	width: 150px;
	grid-column: 2;
	grid-row: 2;
	z-index: 1;
}

.about {
	text-align: center;
	justify-content: center;
}
